header{
      background-color: rgb(247, 243, 22);
      color: rgb(27, 26, 26);
      text-align: center;
      max-width: 800px;
      margin: 0 auto;
      border: 5px solid #df6616;
      padding:15px;
      }

      main{
            background-color: rgb(122, 61, 3);
            color: #183c63;
            text-align: center;
            max-width: 800px;
            margin: 0 auto;
            border: 5px solid red;
            padding: 15px;
            display: flex;
      }

      footer{
            background-color: #df6616;
            color:white;
            text-align: center;
            max-width:  800px;
            margin:0 auto;
      }

      .autor{
            font-weight: bold;
      }
      img{
            height: 70%;
            width: 60%;

      }